# vim: set filetype=gitconfig :

[diff]
  color = auto
  rename = copy

[pager]
  color = true
  grep = false

[status]
  color = true

[color]
  ui = true
  interactive = always
  diff = true

[color "diff"]
  whitespace = red reverse

[core]
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
  pager = less -XRMSIF

[alias]
  # These I acutally use
  br = branch
  co = checkout
  l = log --oneline --no-merges

  # These I generally don't
  st = status -uno
  ci = commit
  df = diff
  lg = log -p
  lgfiles = log --name-only --no-merges
  lol = log --graph --decorate --pretty=oneline --abbrev-commit --no-merges
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all --no-merges
  ls = ls-files
  lf = log --no-merges --oneline --
  log-file = log --no-merges --
  alog = log --date-order --all --graph --format=\"%C(green)%H%Creset %C(yellow)%an%Creset %C(blue bold)%ad%Creset %C(red bold)%d%Creset%s\"
  lfp = log --oneline --first-parent

[difftool]
    prompt = no

[merge]
  tool = opendiff

[gc]
  auto = 0
  reflogExpire = never
  reflogExpireUnreachable = never

[merge]
  conflictstyle = diff3

[hub]

[user]
  name = Ben Bernard
  email = github@benjaminbernard.com

[push]
  default = matching
