.vim/tmp
.vim/RCSFiles
.vim/sessions
.vim/spell/*.spl
.vim/bundle/bufexplorer-7.3.0/doc/tags
.vim/bundle/calendar-vim/doc/tags
.config/nvim/tmp
.config/nvim/RCSFiles
.config/nvim/sessions
.config/nvim/spell/*.spl
.config/nvim/bundle/bufexplorer-7.3.0/doc/tags
.config/nvim/bundle/calendar-vim/doc/tags
.config/nvim/dein-plugins/
.config/nvim/bundle/vimproc.vim/
.config/nvim/bundle/vim-visual-increment/
.config/nvim/bundle/vim-unimpaired/
.config/nvim/bundle/vim-multiple-cursors/
.config/nvim/bundle/vim-misc/
.config/nvim/bundle/vim-json/
.config/nvim/bundle/vim-unite-history/
.config/nvim/bundle/vim-surround/
.config/nvim/bundle/vim-stylus/
.config/nvim/bundle/vim-repeat/
.config/nvim/bundle/vim-mustache-handlebars/
.config/nvim/bundle/vim-markdown/
.config/nvim/bundle/vim-javascript-syntax/
.config/nvim/bundle/vim-indent-guides/
.config/nvim/bundle/vim-gitgutter/
.config/nvim/bundle/CamelCaseMotion/
.config/nvim/bundle/UnconditionalPaste/
.config/nvim/bundle/auto-pairs/
.config/nvim/bundle/gundo.vim/
.config/nvim/bundle/javascript-libraries-syntax.vim/
.config/nvim/bundle/madeofcode/
.config/nvim/bundle/neomru.vim/
.config/nvim/bundle/neoyank.vim/
.config/nvim/bundle/splitjoin.vim/
.config/nvim/bundle/syntastic/
.config/nvim/bundle/ultisnips/
.config/nvim/bundle/unite-help/
.config/nvim/bundle/unite-outline/
.config/nvim/bundle/unite.vim/
.config/nvim/bundle/vim-airline/
.config/nvim/bundle/vim-airline-themes/
.config/nvim/bundle/vim-better-whitespace/
.config/nvim/bundle/vim-colors-solarized/
.config/nvim/bundle/vim-commentary/
.config/nvim/bundle/vim-easymotion/
.config/nvim/bundle/vim-exchange/
.config/nvim/bundle/vim-expand-region/
.config/nvim/bundle/vim-fugitive/
.config/nvim/bundle/vim-jison/
.config/nvim/bundle/vim-snippets/
.nvim*
.screen/
RecordStream/
.CFUserTextEncoding
.DS_Store
.Trash/
.bash_history
.cache/
.vim-old/
.config/hub
.cpan/
.dropbox/
.gem/
.heroku/
.history
.irclogs/**
.netrc
.node-gyp/
.npm/
.nvm/
.ssh/
.unite/
.vegas/
.viminfo
.zcompdump*
.zsh-update
.zshrc.d/99_site.zsh
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
bin/chromedriver
bin/chromedriver_mac32.zip
bin/selenium-server-standalone-2.38.0.jar
fieldbook/
perl5/
screen/
.lesshst
.rnd
Google Drive/
userScripts/commentTracker.zip
.irssi/away.log
Torrents/
.irssi/url
.irssi/config
.urlopener.log
PrivateConfiguration/
.cpanm/
.cups/
.dir
.mplayer/
test-destributer/
upnp/
bin/recs
.floorc.json
floobits/
jquery-handsontable/
programming/links/
temp/
env-improvement/
fieldbot/
yankring_history_v2.txt
programming/
s3cmd/
.s3cfg
.Xauthority
.dbshell
.erlang.cookie
.fontconfig/
.ghc/
.mongorc.js
.npmrc
.wireshark-etc/
.wireshark/
hardcopy.1
*.csv
minecraft/
.lpass/
.fpp/
*.log
ftb/
.bundler/
.ngrok2/
bin/ngrok
genghis/
.babel.json
.babel_history
fieldbook-docs/
fieldbook-newnode/
test-mocha/
.htoprc
node_modules/
.local
bin/chromedriver*
bin/selenium*
.subversion/
AppiumSetup.appiumconfig
repos/
savedLogs/
sc-4.3.11-osx/
.android/
notes
.docker/
.aws/
VirtualBox VMs/
api-access-logs/
circle-analysis/
sc/
.node_history
.node_repl_history
.webtask
defaultBook.json
foo.js
.cloud66/
.papertrail.yml
bin/cx
ancestry/
.gitkraken/
.sqlite_history
.gtk-bookmarks
.config/configstore/update-notifier-nodemon.json
.neo4j/
.psql_history
.oracle_jre_usage/
.config/nvim/vundle/floobits-neovim/
.mono/
.config/robomongo/
.cargo/
.multirust
Dropbox*
.rustup/
gocode/
.pgadmin/
