# vim: set filetype=gitconfig :

[diff]
  color = auto
  rename = copy
  colorMoved = default
  mnemonicprefix = true

[pager]
  color = true
  grep = false

[status]
  color = true

[color]
  ui = true
  interactive = always
  diff = true

[color "diff"]
  whitespace = red reverse

[core]
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol,space-before-tab
  # pager = delta
  excludesfile = ~/.gitignore_global
	# hooksPath = /Users/benbernard/.git/hooks

[alias]
  # These I acutally use
  br = branch
  co = checkout
  # l = log --oneline
  l = log --pretty='format:%C(red)%h%Creset %C(magenta)%ar%Creset %C(yellow)%an%Creset %Cgreen%s%Creset %C(cyan)%d%Creset'

  s = ! git status -s | awk '{print $2}'
  mt = mergetool
  cp = cherry-pick
  pull = pull --rebase
  sp = samepull
  ls = ls-files


  # These I generally don't
  st = status -uno
  ci = commit
  df = diff
  lg = log --graph --pretty='format:%C(red)%h%Creset %C(magenta)%ar%Creset %C(yellow)%an%Creset %Cgreen%s%Creset %C(cyan)%d%Creset'
  lgfiles = log --name-only --no-merges
  lol = log --graph --decorate --pretty=oneline --abbrev-commit --no-merges
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all --no-merges
  lf = log --no-merges --pretty='format:%C(red)%h%Creset %C(magenta)%ar%Creset %C(yellow)%an%Creset %Cgreen%s%Creset %C(cyan)%d%Creset' --
  log-file = log --no-merges --
  alog = log --date-order --all --graph --format=\"%C(green)%h%Creset %C(yellow)%an%Creset %C(blue bold)%ad%Creset %C(red bold)%d%Creset%s\"
  lfp = log --oneline --first-parent --pretty='format:%C(red)%h%Creset %C(magenta)%ar%Creset %C(yellow)%an%Creset %Cgreen%s%Creset %C(cyan)%d%Creset'
  agrep = grep-of-doom
  mergeff = merge --ff-only --no-stat
  update-master = updatemaster
  sortedbranches = for-each-ref --sort=-committerdate refs/heads/ --format='%(refname:short)'

  # Testing these
  modified =!git log --no-commit-id --oneline --pretty=format:"" --name-only --relative master..HEAD | sort | uniq | grep -v '^$'
  changed = !git diff `git merge-base HEAD origin/master`
  ten = l -10

  # grep=use-agrep

[difftool]
  prompt = no

# Never gc and never expire reflogs
[gc]
  auto = 0
  reflogExpire = never
  reflogExpireUnreachable = never

[merge]
  conflictstyle = diff3
  keepBackup = false
  keepTemporaries = false
  tool = p4merge
  stat = true

[mergetool "p4merge"]
  cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
  trustExitCode = false

[hub]

[user]
	name = Ben Bernard
  email = github@benjaminbernard.com
  username = benbernard

[push]
  default = current

[mergetool]
  keepBackup = false
  keepTemporaries = false

[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f

# These cause github origins to pull down refs for the pull requests (by number) as well
# Better to put these in individual repo config's
# [remote "origin"]
#   fetch = +refs/pull/*/head:refs/remotes/origin/pr/*
# [remote "team"]
#   fetch = +refs/pull/*/head:refs/remotes/team/pr/*

[man]
  viewer = run-help

[man "run-help"]
  cmd = run-githelp
[branch]
  autosetuprebase = always
	sort = -committerdate
[fetch]
  prune = true

# Always use ssh for github urls
# This doesn't work with cargo, disabling
# [url "git@github.com:"]
#   insteadOf = "https://github.com/"

# Delta git pager configuration, see
# https://github.com/dandavison/delta
[interactive]
  diffFilter = delta --color-only

[delta]
  features = side-by-side line-numbers decorations
  syntax-theme = Dracula
  plus-style = syntax "#003000"
  minus-style = syntax "#3f0001"
  whitespace-error-style = 22 reverse

[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  # file-decoration-style = none

[init]
  defaultBranch = main

# Stuff from insta-setup.sh
[http]
  postBuffer = 524288000

[credential]
  helper = osxkeychain

[url "git@github.com:"]
  insteadOf = https://github.com/

[user]
  email = ben.bernard@instacart.com

[feature]
  manyFiles = 1
[url "ssh://git@github.com"]
	insteadOf = https://github.com
[safe]
	directory = /var/app
	directory = /var/app
	directory = /var/app
