.vim/tmp
.vim/RCSFiles
.vim/sessions
.screen/
RecordStream/
.CFUserTextEncoding
.DS_Store
.Trash/
.bash_history
.cache/
.config/
.cpan/
.dropbox/
.gem/
.heroku/
.history
.irclogs/**
.netrc
.node-gyp/
.npm/
.nvm/
.ssh/
.unite/
.vegas/
.viminfo
.zcompdump*
.zsh-update
.zshrc.d/99_site.zsh
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
bin/chromedriver
bin/chromedriver_mac32.zip
bin/selenium-server-standalone-2.38.0.jar
fieldbook/
perl5/
screen/
.lesshst
.rnd
.vim/bundle/bufexplorer-7.3.0/doc/tags
.vim/bundle/calendar-vim/doc/tags
Google Drive/
userScripts/commentTracker.zip
.irssi/away.log
Torrents/
.irssi/url
.irssi/config
.urlopener.log
PrivateConfiguration/
.cpanm/
.cups/
.dir
.mplayer/
test-destributer/
upnp/
bin/recs
