[submodule "emacs_chrome"]
	path = emacs_chrome
	url = https://github.com/stsquad/emacs_chrome.git
[submodule "RecordStream"]
	path = RecordStream
	url = https://github.com/benbernard/RecordStream.git
[submodule "GitScripts"]
	path = GitScripts
	url = https://github.com/benbernard/GitScripts.git
[submodule "BOWQuotes"]
	path = BOWQuotes
	url = https://github.com/benbernard/BOWQuotes.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = http://github.com/robbyrussell/oh-my-zsh.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/YankRing.vim"]
	path = .vim/bundle/YankRing.vim
	url = git://github.com/vim-scripts/YankRing.vim.git
[submodule ".vim/bundle/vim-visual-increment"]
	path = .vim/bundle/vim-visual-increment
	url = git://github.com/triglav/vim-visual-increment.git
[submodule ".vim/bundle/vim-session"]
	path = .vim/bundle/vim-session
	url = git://github.com/xolox/vim-session.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/vim-autoformat-rails"]
	path = .vim/bundle/vim-autoformat-rails
	url = https://github.com/KurtPreston/vim-autoformat-rails.git
[submodule ".vim/bundle/vimtodo"]
	path = .vim/bundle/vimtodo
	url = https://github.com/mivok/vimtodo.git
[submodule ".vim/bundle/vim-misc"]
	path = .vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc
[submodule ".vim/bundle/mustache"]
	path = .vim/bundle/mustache
	url = git://github.com/mustache/vim-mustache-handlebars.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/vim-speeddating"]
	path = .vim/bundle/vim-speeddating
	url = git://github.com/tpope/vim-speeddating.git
[submodule ".vim/bundle/vim-unimpaired"]
	path = .vim/bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule ".vim/bundle/unite"]
	path = .vim/bundle/unite
	url = git://github.com/Shougo/unite.vim
[submodule ".vim/bundle/vimproc.vim"]
	path = .vim/bundle/vimproc.vim
	url = git://github.com/Shougo/vimproc.vim.git
[submodule ".vim/bundle/neomru.vim"]
	path = .vim/bundle/neomru.vim
	url = git://github.com/Shougo/neomru.vim.git
[submodule ".vim/bundle/unite-help"]
	path = .vim/bundle/unite-help
	url = git://github.com/tsukkee/unite-help.git
[submodule ".vim/bundle/unite-outline"]
	path = .vim/bundle/unite-outline
	url = git://github.com/Shougo/unite-outline.git
[submodule ".vim/bundle/vim-unite-history"]
	path = .vim/bundle/vim-unite-history
	url = git://github.com/thinca/vim-unite-history.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = git://github.com/bling/vim-airline
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
