.vim/tmp
.vim/RCSFiles
.vim/sessions
.vim/spell/*.spl
.vim/bundle/bufexplorer-7.3.0/doc/tags
.vim/bundle/calendar-vim/doc/tags
.config/nvim/tmp
.config/nvim/RCSFiles
.config/nvim/sessions
.config/nvim/spell/*.spl
.config/nvim/bundle/bufexplorer-7.3.0/doc/tags
.config/nvim/bundle/calendar-vim/doc/tags
.config/nvim/dein-plugins/
.config/karabiner
.nvim*
.screen/
RecordStream/
.CFUserTextEncoding
.DS_Store
.Trash/
.bash_history
.cache/
.vim-old/
.config/hub
.cpan/
.dropbox/
.gem/
.heroku/
.history
.irclogs/**
.netrc
.node-gyp/
.npm/
.nvm/
.ssh/
.unite/
.vegas/
.viminfo
.zcompdump*
.zsh-update
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Movies/
Music/
Pictures/
Public/
bin/chromedriver
bin/chromedriver_mac32.zip
bin/selenium-server-standalone-2.38.0.jar
fieldbook/
perl5/
screen/
.lesshst
.rnd
Google Drive/
userScripts/commentTracker.zip
.irssi/away.log
Torrents/
.irssi/url
.irssi/config
.urlopener.log
PrivateConfiguration/
.cpanm/
.cups/
.dir
.mplayer/
test-destributer/
upnp/
bin/recs
.floorc.json
floobits/
jquery-handsontable/
programming/links/
temp/
env-improvement/
fieldbot/
yankring_history_v2.txt
programming/
s3cmd/
.s3cfg
.Xauthority
.dbshell
.erlang.cookie
.fontconfig/
.ghc/
.mongorc.js
.npmrc
.wireshark-etc/
.wireshark/
hardcopy.1
*.csv
minecraft/
.lpass/
.fpp/
*.log
ftb/
.bundler/
.ngrok2/
bin/ngrok
genghis/
.babel.json
.babel_history
fieldbook-docs/
fieldbook-newnode/
test-mocha/
.htoprc
node_modules/
.local
bin/chromedriver*
bin/selenium*
.subversion/
AppiumSetup.appiumconfig
repos/
savedLogs/
sc-4.3.11-osx/
.android/
notes
.docker/
.aws/
VirtualBox VMs/
api-access-logs/
circle-analysis/
sc/
.node_history
.node_repl_history
.webtask
defaultBook.json
foo.js
.cloud66/
.papertrail.yml
bin/cx
ancestry/
.gitkraken/
.sqlite_history
.gtk-bookmarks
.config/configstore/update-notifier-nodemon.json
.neo4j/
.psql_history
.oracle_jre_usage/
.config/nvim/vundle/floobits-neovim/
.mono/
.config/robomongo/
.cargo/
.multirust
Dropbox*
.rustup/
gocode/
.pgadmin/
.config/nvim/bundle/fzf
explain.sql
.tmux/plugins/
.torus/
.torusrc
.circleci/
.config/nvim/.netrwhist
.vnc/
.fzf.bash
.fzf.zsh
.fzf/
.zsh_history
.sudo_as_admin_successful
.python_history
.psqlrc
.config/configstore/update-notifier-npm.json
.bundle
.rubocop.yml
.3T/
.v8flags.5.1.281.89.78d6810e1299959f3a8db157045aa926.json
.openvpn-connect.json
.rvm/
.bash_profile
.gnupg/
.zoomus/
flexport/
.zlogin
.yarnrc
bin/startupServerScreenWork.sh
site/
.cdcl-override
.irb-history
devbox-*
.config/htop
.pry_history
.config/alacritty/
.config/pgcli/*
!.config/pgcli/config

# Be sure to allow iterm Dyanmic profiles source controlled
/Library/*
!/Library/Application Support
/Library/Application Support/*
!/Library/Application Support/iTerm2/
/Library/Application Support/iTerm2/iterm2-daemon-1.socket.lock
/Library/Application Support/iTerm2/iTermServer-*
/Library/Application Support/iTerm2/parsers/
/Library/Application Support/iTerm2/SavedState/

# Ignore temp files
*.tmp
*.temp

.tldrc/
videos/

fieldbook-s3/
private/

.eclipse/
.m2/
.p2/
.tooling/
eclipse-workspace/
eclipse/
OneDrive/
OneDrive
.onedrive*
.config/StardewValley/
.config/configstore/nodemon.json
.config/heroku/
bin/python-install/
.gremlin/
.gradle/
.tabnine/
.config/gh/
.env-improvement
.sonarlint/
.putty/randomseed
tmp/
.kube/
.minikube/
.pmy/
*.envs
.terraform.d/
.config/karabiner/automatic_backups/
.config/crane/
.bash_logout
.config/user-dirs.dirs
.config/user-dirs.locale
.xsession-errors
.xsession-errors.old
Bookshelf/
.kindle/
snap/
.config/TabNine/
.config/configstore/@tuyapi/
.config/configstore/update-notifier-@tuyapi/
Library/Application Support/iTerm2/parsers/85686444fb8cb7b2fa379a9c17d3d7c788996b6fc14879f7c078d8ec7cdc6823
at-launcher/
.yarn/
.config/yarn/
ATLauncher/
.mputils/
.rename/
gaol/
Parallels/
Applications (Parallels)/
.instacart*
.isc/
.rbenv/
.wget-hsts
carrot/
.config/ei/cdrp_dir
.ecr/
.config/bento/
.config/iterm2/
.config/micro/buffers
bin/micro
.pylint.d/
.irb_history
.cache_ggshield
.dlv/
.config/packer
OneDrive
.zsh_sessions/
.bin/
.config/pulse/
.pumpkin/
.pyenv/
.secret-doge/
.shellrc.d/
.terraform.versions/
.vscode-server/
bento/
bin/bat
bin/terraform
go/
tf-instacart/
unata-*/
vector_bento.toml
.config/configstore/update-notifier-yo.json
.config/lazygit/
.config/github-copilot/
.sdkman
.serverless
.config/github-copilot
.config/Autodesk
Amazon Drive Results/Amazon Photos Downloads/Archived Music
homebrew/
.serverlessrc
.snapmaker-luban.json
.redhat/anonymousId
.copilot-*
.config/simple-update-notifier
.conda
.config/configstore/update-notifier-yo.json
.config/fish/config.fish
.diffusionbee
.orbstack
.vscode-insiders
Library/Application Support/iTerm2
OrbStack
miniconda3
.actrc
.tcshrc
.xonshrc
bin/docker
bin/docker-buildx
bin/docker-compose
bin/docker-credential-osxkeychain
bin/orb
bin/orbctl
.pip/pip.conf
.swiftpm
.zprofile.pysave
.slack
.warp
.iterm2
.paths
.matplotlib/fontlist-v330.json
Library/Application Support/iTerm2/version.txt
.config/.jira/.config.yml
.cursor-tutor
bin/jira
ava
isc-web

Library/Application Support/iTerm2/version.txt
.anydesk
iCloud Drive (Archive)/TextEdit
ava-extension
.bash-preexec.sh
Google Drive
.config/atuin
.config/gcloud
.boto
.zhistory
aigateway
bento
.cspell
event-log.txt
carrot
lefthook.yml
.rediscli_history
.conductorone
.config/graphite/user_config
.redis-insight
.ask
.cdk/
.degit/
projects/seizure-import/export.zip
projects/seizure-import/data
.buildkite
.config/bk.yaml
.gk
.supermaven
bin/bk
vs-code-trial
.bk.yaml
.cursor-tutor-1
.vercel
.specstory/history
next-save
bin/ts/.specstory/history
bin/ts/dist
.th-client

.config/neuron
.config/olive/traces

.cursor-nightly
.windsurf
.codeium/windsurf

.EasyOCR/model
.anthropic
.cua
.cua-mcp-venv
.cursor.new
.gemini
.grit
.lume/cache/ghcr/trycua/sha256_238e9479dcfdfe12f56aad6c7972d15728c368d37b00064ccb7464686938ea38
.secret-guard
.streamlit
.motd_shown
.codex
.kiro
.config/gohan
.config/gohan-local
.claude.json.backup
cookbook
.config/gohan*/
.config/claude-session-picker
.icrc.json
.claude/debug
.claude/file-history
.claude/ide
.claude/projects
.claude/shell-snapshots
.claude/statsig
.claude/todos
.claude/history.jsonl
.claude.json
.config/fish/conf.d/gohan.fish
.config/olive
.config/fish/completions
.claude/notification-state-*
.claude/.credentials.json
.claude/plans
.config/claude-notify
.claude/plugins/
olive-cli
olive-reviewer
olive
olive-server
blueberry
corncob
.bun
.config/pastry
.claude/stats-cache.json
.claude/cache
.claude/paste-cache
.serena
