[submodule "emacs_chrome"]
	path = submodules/emacs_chrome
	url = https://github.com/stsquad/emacs_chrome.git
[submodule "RecordStream"]
	path = RecordStream
	url = https://github.com/benbernard/RecordStream.git
[submodule "GitScripts"]
	path = submodules/GitScripts
	url = https://github.com/benbernard/GitScripts.git
[submodule "BOWQuotes"]
	path = submodules/BOWQuotes
	url = git@github.com:benbernard/BOWQuotes.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = http://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh-completions"]
	path = submodules/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule "userScripts/commentTracker"]
	path = submodules/commentTracker
	url = git@github.com:benbernard/CommentTracker.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".zsh/zsh-autosuggestions"]
	path = .zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "submodules/powerlevel10k.git"]
	path = submodules/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
[submodule "submodules/tmux"]
	path = submodules/tmux
	url = git@github.com:amling/tmux.git
