[submodule "emacs_chrome"]
	path = emacs_chrome
	url = https://github.com/stsquad/emacs_chrome.git
[submodule "RecordStream"]
	path = RecordStream
	url = https://github.com/benbernard/RecordStream.git
[submodule "GitScripts"]
	path = GitScripts
	url = https://github.com/benbernard/GitScripts.git
[submodule "BOWQuotes"]
	path = BOWQuotes
	url = https://github.com/benbernard/BOWQuotes.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = http://github.com/robbyrussell/oh-my-zsh.git
