snippet todo "TODO" b
// TODO ${1:${VISUAL:<++>}} - `echo $USER` `!v strftime("%Y-%m-%d")`
endsnippet

snippet sig "todo signature" w
- `git config user.username` `!v strftime("%Y-%m-%d")`
endsnippet
